@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Praise&display=swap');

$mainColor : #C85C5C;
$secondaryColor : #F9975D;
$thirdColor : #B2EA70;
$fourthColor : #E8E1D9;
$naturalColor : white;


* {
    padding: 0;
    margin: 0;
}

.navigasi{
    background-color: $fourthColor;
    h1 {
        font-family: 'Praise', cursive;;
        font-size: 4rem;
        color: $naturalColor;
    }

    .navbar {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        text-align: center;
        
        ul {
            list-style: none;
            position: relative;
            display: inline-table;
        }
        .btn {
            background-color: $mainColor;
            padding: 8px;
            border-radius: 6px;
        }
        a {
            color: $naturalColor;
            font-size: 1.2rem;
            text-decoration: none;
            display: block;
        }
    }
}

.product-list {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0;
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 0 auto;
  }
    .container-product {
        display: flex;
        height: 100vh;
        padding: 20px;
        margin: auto;
        gap: 20px;
    
        .con-product {
            width: 500px;
            box-shadow: 0 6px 12px rgba(232, 225, 217, .6);
    
            .con-body {
                padding: 10px 15px;
            }
            img {
                width: 100%;
                height: 100px;
                object-fit: cover;
            }
    
            h1 {
                padding: 10px 0;
                font-size: 30px;
            }
            a {
                color: $naturalColor;
                margin: 12px 0px;
                padding: 10px 22px;
                background-color: $thirdColor;
                text-decoration: none;
                display: block;
            }
        }
    }    
}
