@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Praise&display=swap");

$mainColor: #c85c5c;
$secondaryColor: #f9975d;
$thirdColor: #b2ea70;
$fourthColor: #d9cab3;
$fivethColor: #c0c0c0;
$netralColor: white;

* {
  padding: 0;
  margin: 0;
}

// NAVIGASI PAGE
.navigasi {
  text-align: center;
  padding: 0px;
  width: 100%;
  height: 150px;

  a {
    text-decoration: none;
    display: block;

    h1 {
      font-family: "Praise", cursive;
      font-size: 5rem;
      color: $secondaryColor;
      transition: 200ms;
      width: 100%;
      height: 100px;
    }
    h1:hover {
      color: $fourthColor;
    }
  }

  .navigasi {
    font-family: "Montserrat", sans-serif;
    color: $secondaryColor;
    li {
      display: inline;
    }
    a {
      color: $secondaryColor;
      font-size: rem;
      text-decoration: none;
      display: block;
    }
  }
}

// PRODUCT LIST
.product-list {
  font-family: "Montserrat", sans-serif;
  padding: 30px 0;
  height: auto;
  width: 80%;
  color: $secondaryColor;
  margin: 0 auto;

  .header-product {
    text-align: center;
    text-transform: uppercase;
  }

  .container-product {
    display: flex;
    height: 60vh;
    margin: auto;
    padding: 25px 20px;
    gap: 20px;

    .con-product {
      height: 480px;
      width: 800px;
      box-shadow: 0 6px 12px rgba(232, 225, 217, 0.5);
      display: inline-block;
      vertical-align: middle;
      transform: translateZ(0);
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      transition-duration: 0.3s;
      transition-property: transform;
      transition-timing-function: ease-out;

      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
      .con-body {
        padding: 10px 15px;
        margin: 10px 0;
        width: 80%;
        h1 {
          color: $secondaryColor;
          font-size: 25px;
          padding: 10px 0;
        }
        h4 {
          color: $fivethColor;
          font-size: 14px;
          padding: 4px 0;
          font-weight: 300;
        }
        a {
          color: white;
          border-radius: 5px;
          margin: 12px 0px;
          padding: 10px 22px;
          background-color: $thirdColor;
          text-decoration: none;
          display: block;
        }
      }
    }
    .con-product:hover,
    .con-product:focus,
    .con-product:active {
      transform: translateY(-8px);
    }
  }
}

// PRODUCT DETAILS
.product-details {
  font-family: "Montserrat", sans-serif;
  padding: 30px 0;
  height: auto;
  width: 80%;
  margin: 0 auto;

  h1 {
    text-align: center;
    color: $secondaryColor;
    padding: 0 0 15px 0;
  }
  h2 {
    color: $secondaryColor;
  }
  h3 {
    color: $mainColor;
  }
  p {
    color: $fivethColor;
  }
  .count {
    color: $secondaryColor;
  }

  img {
    width: 300px;
    height: 400px;
    object-fit: cover;
  }

  .info {
    h2,
    h3,
    p {
      padding-left: 15px;
    }
    button {
      padding: 6px;
      margin-left: 15px;
      border-radius: 5px;
      padding: 10px 22px;
      background-color: $thirdColor;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
    }
    .con-header {
      h2,
      h3,
      p {
        padding-bottom: 6px;
      }
      .price {
        background-color: $thirdColor;
      }
    }
  }
}

// BRACKET LIST
.brackets-list {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  width: 80%;
  height: auto;

  .attributs {
    th {
      padding: 20px;
    }
  }
  button {
    padding: 6px;
    margin-left: 15px;
    border-radius: 5px;
    padding: 10px 22px;
    background-color: $thirdColor;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
}

// DONE PAGE
.con-done {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: $secondaryColor;
  img {
    width: auto;
    height: 400px;
    padding-bottom: 12px;
    margin-top: 10px;
  }
  h1 {
    line-height: 1.5;
  }
}
